* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

html {
  scroll-padding-top: 60px; }

.heading {
  text-align: center;
  padding: 0 15px;
  padding-bottom: 5px;
  color: #fff;
  font-size: 30px; }

.heading span {
  color: #be7925; }

section {
  padding: 5rem 0;
  background-color: #000000; }

section:nth-child(odd) {
  background: #331f07; }

.link-btn {
  display: inline-block;
  background: #be7925;
  color: #fff;
  border-radius: 50px;
  padding: 5px 25px;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.082); }
  .link-btn:hover {
    color: #000000;
    background: #fff; }

.footer .box {
  flex: 1 1 250px;
  text-align: center; }
  .footer .box a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 5px 0; }
    .footer .box a:hover {
      color: #be7925; }
  .footer .box h3 {
    font-size: 20px;
    color: #be7925; }

.footer .credit {
  text-align: center;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 20px; }
  .footer .credit span {
    color: #be7925; }

header {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.082);
  background: rgba(0, 0, 0, 0.493); }
  header .logo img {
    width: 2.5rem; }
  header .logo span {
    color: #be7925; }
  header .nav a {
    margin-left: 3px;
    border-radius: 50px;
    color: #fff;
    padding: 5px 15px; }
    header .nav a.active {
      background: #be7925;
      box-shadow: 0 5px 10px rgba(255, 255, 255, 0.082);
      color: #fff; }
    header .nav a:hover {
      background: #be7925;
      box-shadow: 0 5px 10px rgba(255, 255, 255, 0.082);
      color: #fff; }

#menu-bar {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  transition: 0.2s linear; }

.home {
  min-height: 100vh;
  background: url(../images/festejo.jpg) no-repeat;
  background-position: center;
  background-size: cover; }
  .home .content span {
    color: #be7925;
    font-size: 20px; }
  .home .content h3 {
    color: #fff;
    font-size: 50px;
    font-weight: bolder; }
  .home .carousel-inner div {
    height: 400px;
    object-fit: cover; }

.blogs .box {
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.082);
  background: #331f07; }
  .blogs .box .image {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #fff; }
    .blogs .box .image img {
      transition: 0.2s linear; }
      .blogs .box .image img:hover {
        transform: scale(1.1); }
  .blogs .box .content h3 {
    padding: 5px 0;
    font-size: 20px;
    color: #fff; }
  .blogs .box .content .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .blogs .box .content .icons a {
      color: #777;
      font-size: 13px; }
      .blogs .box .content .icons a i {
        padding-right: 7px; }
      .blogs .box .content .icons a:hover {
        color: #be7925; }

.staff .box {
  width: 260px;
  background: #331f07;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.082);
  margin: 5px;
  padding: 15px;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .staff .box:hover .share {
    right: 15px; }
  .staff .box img {
    color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 8px; }
  .staff .box h3 {
    font-size: 22px;
    margin: 2px 0;
    color: #fff; }
  .staff .box span {
    font-size: 15px;
    color: #be7925; }
  .staff .box .share {
    position: absolute;
    top: 5px;
    right: -50px;
    transition: 0.2s; }
    .staff .box .share a {
      border-radius: 5px;
      background: #be7925;
      color: #331f07;
      display: block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      margin-top: 5px; }
      .staff .box .share a:hover {
        background: #fff; }

.about .content h3 {
  color: #be7925;
  font-size: 33px; }

.about .content p {
  color: #fff;
  font-size: 14px; }

.team {
  background-color: #000000; }
  .team .box {
    flex: 1 1 300px;
    background: #331f07;
    border-radius: 5px;
    text-align: center; }
    .team .box img {
      margin-bottom: 10px;
      height: 70px;
      transition: 0.2s linear; }
      .team .box img:hover {
        transform: scale(2.5); }
    .team .box h3 {
      color: #fff;
      font-size: 20px; }
    .team .box p {
      color: #fff;
      font-size: 14px; }

.contacto form {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.082); }
  .contacto form .box {
    background: #331f07;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    margin: 7px 0;
    width: 100%;
    text-transform: none;
    color: #fff; }
  .contacto form textarea {
    background: #331f07;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    margin: 7px 0;
    width: 100%;
    text-transform: none;
    color: #fff;
    resize: none;
    height: 200px; }

.contacto .map {
  border-radius: 5px;
  height: 100%;
  width: 100%; }

@media (max-width: 991px) {
  .home .content h3 {
    font-size: 30px; } }

@media (max-width: 768px) {
  header .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
  header .nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  header .nav a {
    display: block;
    width: 100%;
    margin: 10px; }
  .fa-times {
    transform: rotate(180deg); } }
