.about {
  .content {
     h3 { 
        color: map-get($colors, "main");
        font-size: 33px;
      }
      p {
        color: map-get($colors, "white");
        font-size: 14px;
      }
    }
  }
  
  