.blogs {
  .box { 
    width: 350px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    background: #331f07;
    .image {
      height: 200px;
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      background: #f8f8fe;
      img {
        transition: 0.2s linear;
        &:hover {
          transform: scale(1.1);
        }

      }
    }
    .content {
      h3 {
        padding: 5px 0;
        font-size: 20px;
        color: map-get($colors, "white");
      }
      .icons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        a{
          color: #777;
          font-size: 13px;
          i {
            padding-right: 7px;
          }
          &:hover {
            color: map-get($colors, "main");
          }
          
        
        }
      }
    }
  
  }
}





