.contacto {
  form {
    padding: 15px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    .box {
      
        @include contacto;
        text-transform: none;
        color: map-get($colors, "white");
      }
      textarea {
        @include contacto;
        text-transform: none;
        color: map-get($colors, "white");
        resize: none;
        height: 200px;
      }
    }
    .map {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }