* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  html {
    scroll-padding-top: 60px;
  }
  
  .heading {
    text-align: center;
    padding: 0 15px;
    padding-bottom: 5px;
    color: map-get($colors, "white");
    font-size: 30px;
  }
  
  .heading span {
    color: map-get($colors, "main");
  }
  
  section {
    padding: 5rem 0;
    background-color: map-get($colors, "black");
  }
  
  section:nth-child(odd) {
    background: map-get($colors, "bg");
  }
  .link-btn {
    display: inline-block;
    background: map-get($colors, "main");
    color: map-get($colors, "white");
    border-radius: 50px;
    padding: 5px 25px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: $box-shadow;
    &:hover{
      color: map-get($colors, "black");
      background: map-get($colors, "white");
    }
  }