* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  html {
    scroll-padding-top: 60px;
  }
  
  .heading {
    text-align: center;
    padding: 0 15px;
    padding-bottom: 5px;
    color: $black;
    font-size: 30px;
  }
  
  .heading span {
    color: $main-color;
  }
  
  section {
    padding: 5rem 0;
    background-color: black;
  }
  
  section:nth-child(odd) {
    background: #331f07;
  }
  .link-btn {
    display: inline-block;
    background: $main-color;
    color: #fff;
    border-radius: 50px;
    padding: 5px 25px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: $box-shadow;
    &:hover{
      color: rgb(0, 0, 0);
      background: $black;
    }
  }