.home {
    min-height: 100vh;
    background: url(../images/festejo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .content {
        span {
          color: $main-color;
          font-size: 20px;
        }
        h3 {
          color: $black;
          font-size: 50px;
          font-weight: bolder;
        }
    }
    .carousel-inner{
      div {
        height: 400px;
        object-fit: cover;
      }
      
    }
  }