.team {
  background-color: map-get($colors, "black");
  .box {
    flex: 1 1 300px;
    background: map-get($colors, "bg");
    border-radius: 5px;
    text-align: center;
    img {
      margin-bottom: 10px;
      height: 70px;
      transition: 0.2s linear;
      &:hover {
        transform: scale(2.5);
      }
    }
    h3 {
      color: map-get($colors, "white");
      font-size: 20px;
    }
    p {
      color: map-get($colors, "white");
      font-size: 14px;
      
    } 
    
  }
}